*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 33px 9%;
    background: transparent;
}
.navlist{
    display: flex;
}
.navlist a{
    color: black;
    margin-left: 60px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}
.navlist a:hover{
    border-bottom: 2px solid black;
}
#menu-icon{
    color: black;
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}
.logo1souvenir{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #ffedca 0%, #ffe1a6 28.53%, #ffd788 75.52%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}
section{
    padding: 0 19%;
}
.logo1souvenir-text h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 90px;
    line-height: 1;
    color: black;
    margin: 0 0 45px;
}
.logo1souvenir-text h4{
    font-size: 21px;
    font-weight: 600;
    color: black;
    margin-bottom: 10px;
}
.logo1souvenir-text p{
    color: black;
    font-size: 19px;
    text-align: justify;
    line-height: 1.9;
    margin-bottom: 40px;
}
.img1souvenir-img img{
    width: 700;
    height: auto;
}
.logo1souvenir-text a{
    display: inline-block;
    color: black;
    background: #ffe1a6;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.logo1souvenir-text a:hover{
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}
.logo1souvenir-text a.ctaa{
    border: 1px solid white;
    margin-left: 20px;
}
.logo1souvenir-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons i{
    display: block;
    margin: 26px 0;
    font-size: 50px;
    color: black;
    transition: all .55s ease;
}
.icons i:hover{
    color: #ffe1a6;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    background: #ffe1a6;
    color: black;
    border-radius: 30px;
    transition: all .55s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px);
}
@media (max-width: 1535px){
    header{
        padding: 15px 3%;
        transition: .2s;
    }
    .icons{
        padding: 0 3%;
        transition: .2s;
    }
    .scroll-down{
        right: 3%;
        transition: .2s;
    }
}
@media (max-width: 1460px){
    section{
        padding: 0 12%;
        transition: .2s;
    }
}
@media (max-width: 1340px){
    .img1souvenir-img{
        width: 100%;
        height: 100%;
    }
    .logo1souvenir-text h1{
        font-size: 75px;
        margin: 0 0 30px;
    }
}
@media (max-width: 1195px){
    section{
        padding: 0 3%;
        transition: .2s;
    }
    .logo1souvenir-text{
        padding-top: 115px;
    }
    .img1souvenir-img{
        text-align: center;
    }
    .img1souvenir-img img{
        width: 560px;
        height: auto;
    }
    .img1souvenir-img{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
    .icons{
        display: none;
    }
    .scroll-down{
        display: none;
    }
}
@media (max-width: 990px){
    #menu-icon{
        display: block;
    }
    .navlist{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 40vh;
        background: #ffe1a6;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 50p;
        transition: all .55s ease;
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        margin-left: 0;
    }
    .navlist.open{
        right: 0;
    }
}
@media (max-width: 680px){
    .img1souvenir-img img{
        width: 100%;
        height: auto;
    }
}